* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-height: 100vh;
    margin: 0 auto;
    background-color: #000000;
    font-family: "Fira Code", monospace;
    color: #e5e9f0;
    transition: 0.3s;
    margin: 0 auto;
}

header {
    background-color: black;
    text-align: center;
    color: rgb(252, 252, 252);
    padding: 20px 0;
}

.lista-cadastro {
    display: flex;
    flex-wrap: wrap; /* Permite que os elementos se ajustem em telas menores */
    justify-content: space-between; /* Espaçamento uniforme entre os elementos */
    margin: 20px 0;
    padding: 0 20px; /* Reduz o espaçamento lateral para telas menores */
}

.lista-cadastro[type="text"],
.lista-cadastro[type="number"] {
    flex: 1;
    height: 40px;
    padding-left: 20px;
}

.lista-produto-single {
    padding: 20px 0;
    border-bottom: 1px solid white;
    display: flex;
    justify-content: space-between; /* Espaçamento uniforme entre os elementos */
}

.lista-produto-single h3 {
    flex: 1;
    padding: 20px;
}

.lista-produto-single h3.price-produto {
    text-align: right;
    font-size: 20px;
}

.lista-produto-single h3.price-produto > span {
    background-color: rgb(138, 0, 0);
    padding: 8px 10px;
    border-radius: 20px;
    color: azure;
}

.soma-produto {
    margin: 20px 0;
    background-color: rgb(2, 2, 100);
    color: aliceblue;
    text-align: right; /* Alinha o texto à direita */
    padding: 10px; /* Espaçamento interno para melhor legibilidade */
}
